body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 102px;
    background: linear-gradient(135deg, #ffffff 0%, #b3b3b3 100%);
    display: flex;
    justify-content: center;
}

.card {
    background: linear-gradient(135deg, #2962ff 0%, #00c4ff 100%);
    box-shadow: 0px 15px 40px rgba(6, 0, 0, 0.733);
    padding: 20px;
    border-radius: 20px;
    max-width: 1500px;
    margin: auto;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.matriz-coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.matrix-box, .steps-box {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.matrix-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 20px;
}

.matrix-table td {
    border: 1px solid #00c4ff;
    padding: 6px;
}

.passo-item {
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.4s ease;
    margin-bottom: 6px;
}

.passo-item.show {
    opacity: 1;
    transform: translateX(0);
}



/*ANIMAÇÕES*/


.matrix-box,
.matriz-a {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.8s ease-out forwards;
}

.matriz-a {
    animation-delay: 0.2s;
}
.matrix-box:nth-child(1) {
    animation-delay: 0.4s;
}
.matrix-box:nth-child(2) {
    animation-delay: 0.6s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes zoomInFade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.passo-item {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.4s ease-out;
}

.passo-item.show {
    opacity: 1;
    transform: scale(1);
}



/* Scrollbar global para navegadores baseados em WebKit (Chrome, Edge, etc.) */
::-webkit-scrollbar {
    width: 8px; /* Largura do scroll */
    scrollbar-width: thin; /* Scroll mais fino (para navegadores compatíveis como Firefox) */
    scrollbar-color: #2962ff #00c4ff; /* Cor da barra e do fundo */
}

::-webkit-scrollbar-thumb {
    background-color: #00bfff; /* Cor da "bolinha" do scroll */
    border-radius: 4px; /* Borda arredondada */
}

::-webkit-scrollbar-track {
    background-color: #5900ff; /* Cor do fundo da barra */
}
